{% extends "base.html" %}
{% block content %}
  <!-- Add Students -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Fill in the details.</h3>
    <form method="POST" action="/students/add">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input class="w3-input w3-border" type="text" name="id" id="id" placeholder="ID" required>
      <input class="w3-input w3-section w3-border" type="text" name="firstname" id="firstname" placeholder="Firstname" required>
      <input class="w3-input w3-section w3-border" type="text" name="lastname" id="lastname" placeholder="Lastname" required>
      <select class="w3-input w3-border" name="coursecode" id="coursecode" required>
        <option value="" disabled selected>Coursecode</option>
        {% for course in courses %}
          <option value="{{course.coursecode}}">{{course.coursecode}}</option>
        {% endfor %}
      </select>
      <select class="w3-input w3-border" name="yearlevel" id="yearlevel" required>
        <option value="" disabled selected>Yearlevel</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>      
      <select class="w3-input w3-border" name="gender" id="gender" required>
        <option value="" disabled selected>Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>      
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> ADD STUDENT
      </button>
    </form>
  </div>
  <div class="messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
    {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}
