{% extends "base.html" %}
{% block content %}
<!-- Course -->
<div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Fill in the details.</h3>
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <input class="w3-input w3-border" type="text" name="coursecode" id="coursecode" placeholder="Course Code" required>
        <input class="w3-input w3-section w3-border" type="text" name="coursename" id="coursename" placeholder="Course Name" required>
        <input class="w3-input w3-section w3-border" type="text" name="collegecode" id="collegecode" placeholder="College Code" required>   

        <button class="w3-button w3-black w3-section" type="submit">
            <i class="fa fa-paper-plane"></i> ADD COURSE
        </button>
    </form>
</div>

<!-- Courses Section -->
<div class="w3-container w3-padding-32" id="courses">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Course Information</h3>

    <!-- Search Bar -->
    <input class="w3-input w3-border w3-section" type="text" placeholder="Search for a course" id="searchInput">

    <!-- Course Table -->
    <table class="w3-table w3-striped">
        <tr>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>College Code</th>
            <th>Actions</th>
        </tr>
        <tr>
            {% for course in courses %}
            <tr>
                <td> {{ course.coursecode }}</td>
                <td> {{ course.coursename }}</td>
                <td> {{ course.collegecode }}</td>
                <td>
                    <a href="#"><i class="fa fa-edit fa-lg" title="Edit"></i></a>
                    <a href="#"><i class="fa fa-trash fa-lg" title="Delete"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
