{% extends "base.html" %}
{% block content %}
<!-- Course -->
<div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Fill in the shits</h3>
    <p>Lets get in touch and talk about your next project.</p>
    <form action="/action_page.php" target="_blank">
        <input class="w3-input w3-border" type="text" placeholder="Course Code" required name="Course Code">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Course name" required name="Email">
        <input class="w3-input w3-section w3-border" type="text" placeholder="College" required name="Subject">

        <button class="w3-button w3-black w3-section" type="submit">
            <i class="fa fa-paper-plane"></i> ADD COURSE
        </button>
    </form>
</div>

<!-- Courses Section -->
<div class="w3-container w3-padding-32" id="courses">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Course Information</h3>

    <!-- Search Bar -->
    <input class="w3-input w3-border w3-section" type="text" placeholder="Search for a course" id="searchInput">

    <!-- Course Table -->
    <table class="w3-table w3-striped">
        <tr>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>College</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>BSCS</td>
            <td>Bachelor of Science in Computer Science</td>
            <td>College of Engineering</td>
            <td>
                <a href="#"><i class="fa fa-edit fa-lg" title="Edit"></i></a>
                <a href="#"><i class="fa fa-trash fa-lg" title="Delete"></i></a>
            </td>
        </tr>
        <tr>
            <td>BSIT</td>
            <td>Bachelor of Science in Information Technology</td>
            <td>College of Information Technology</td>
            <td>
                <a href="#"><i class="fa fa-edit fa-lg" title="Edit"></i></a>
                <a href="#"><i class="fa fa-trash fa-lg" title="Delete"></i></a>
            </td>
        </tr>
        <!-- Add more course rows as needed -->
    </table>
</div>

{% endblock %}
